@media print {
  .slate-BalloonToolbar {
    display: none;
  }
  .PlateFloatingMedia___StyledDiv-sc-1sqs53t-0 {
    display: none;
  }
  .PlateTablePopover___StyledElementPopover-sc-17z6fo8-3 {
    display: none;
  }
}

[data-slate-editor] {
  padding: 8px 8px;
  position: relative;
}

.slate-HeadingToolbar {
  width: 100%;
  padding: unset !important;
}

.tippy-box[data-theme~='tomato'] {
  background-color: tomato;
  color: yellow;
}

.slate-selection-area {
  background: #4f90f22d;
  border: 1px solid #4f90f2;
}

.drag-button {
  overflow: hidden;
  padding: 0;
  background-color: transparent;
  background-repeat: no-repeat;
  border-style: none;
  cursor: pointer;
  outline: 0;

  min-width: 18px;
  min-height: 18px;
}

.MuiSvgIcon-root {
  font-size: 18px !important;
}

ul {
  list-style: disc !important;
}

ol {
  list-style: decimal !important;
}

/* .slate-code_block {
  background-color: #111827 !important;
}

.slate-code_block code {
  color: white;
} */
