[data-slate-editor] {
  padding: 8px 0px;
  position: relative;
  z-index: 0;
}

.slate-HeadingToolbar {
  /* padding: 17px 60px !important; */
  /* position: fixed !important; */
  background: white !important;
  z-index: 2 !important;
  width: 100%;
  padding: 0px 4px 12px 0px !important;
  margin: 0px 0px !important;
  border-bottom: 1px solid var(--rs-color-border-neutral-faded) !important;
}

.tippy-box[data-theme~="tomato"] {
  background-color: tomato;
  color: yellow;
}

.slate-selection-area {
  background: #4f90f22d;
  border: 1px solid #4f90f2;
}

.drag-button {
  overflow: hidden;
  padding: 0;
  background-color: transparent;
  background-repeat: no-repeat;
  border-style: none;
  cursor: pointer;
  outline: 0;

  min-width: 18px;
  min-height: 18px;
}

.MuiSvgIcon-root {
  font-size: 18px !important;
}

/* .slate-code_block {
  background-color: #111827 !important;
}

.slate-code_block code {
  color: white;
} */
